body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 600px;
  margin: 80px auto;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 20px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 140px;
  margin-top: 10px;
  padding: 10px;
  background: #020617;
  color: white;
  border: 1px solid #334155;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.high { color: #ef4444; }
.medium { color: #facc15; }
.low { color: #22c55e; }
